<div class="row">
  <div class="col-xs-6">
    <div>
      <h2>Add a reporter to {{ beat.name }}:</h2>
      <form ng-submit="addReporter()" class="form-inline" role="form">
        <div class="form-group">
          <input type="text" ng-model="reporterName" class="form-control" placeholder="Enter Reporter's Name" required>
          <input type="number" ng-model="reporterYears" class="form-control" placeholder="Enter Number of Years Employed" min="0" required>
          <input type="date" ng-model="reporterBday" class="form-control" placeholder="Enter Reporter's Birth Day" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Reporter</button>
      </form>
    </div>
  </div>
  <div class="col-xs-6">
    <div ng-show="beat.reporters.length">
      <h2>Reporter List for {{ beat.name }}:</h2>
      <ul>
        <li ng-repeat="item in beat.reporters">
          <span ng-click="info = true">
            {{ item.name }}
            <ul ng-click="info = false" ng-show="info" class="ng-hide">
              <li>Years of Employment: {{ item.years }}</li>
              <li>Birthday: {{ item.bday }}</li>
            </ul>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
