<div class="row" ng-show="beats.length">
  <div class="col-xs-12">
    <h4>Search Beats</h4>
    <form class="form-inline" role="form">
      <div class="form-group">
        <input ng-model="query" type="text" class="form-control" placeholder="Search Beats">
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2 ng-show="beats.length && filtered.length">List of Beats:</h2>
    <h2 ng-show="beats.length && !filtered.length">No Matches</h2>
    <ul>
      <li ng-repeat="item in filtered = (beats | filter:query)">
        <a ui-sref="beats.reporters({ beatId: item.id })">{{ item.name }}</a>
      </li>
    </ul>
  </div>
</div>
<div class='row'>
<div class='col-xs-12'>
  <h3>Add a new beat:</h3>
  <form ng-submit="BeatsFactory.addBeat()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="BeatsFactory.beatName" class="form-control" placeholder="Enter a beat name" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>

<div ui-view></div>
